ion-grid {
    height: 100%;
  }

  // ion-row {
  //   height: 50%;
  // }

  .row-fill {
    height: 28%;
  }

  .row-list {
    height: 13%;
    margin-top: 1em;
    margin-bottom: 1.5em;
  }

.large-text-button {
    width: 100% !important;
    height: 100% !important;
    font-size: 1.6rem;
 }