<ion-header>
  <ion-toolbar>
    <ion-title>MSOE v {{match.opponent}}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="finishMatch()">
      <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <!-- Possible question prompts -->
  <h2 *ngIf="currentState == State.ROTATION" style="margin: 1.5em 0.5em 2.5em 0.5em">Which rotation are you receiving in?</h2>
  <h2 *ngIf="currentState == State.RECEIVE_PLAYER" style="margin: 0.5em">Who received the serve?</h2>
  <h2 *ngIf="currentState == State.RECEIVE_RATING" style="margin: 1.5em 0.5em 2.5em 0.5em">What was the rating of the pass (0-3)?</h2>
  <h2 *ngIf="currentState == State.ATTACK" style="margin: 1.5em 0.5em 2.5em 0.5em">What was the attack outcome?</h2>
  <!-- End possible question prompts -->

  <ion-grid *ngIf="currentState == State.ROTATION">
    <ion-row class="row-fill">
      <ion-col>
        <ion-button class="large-text-button square" (click)="selectRotation(1)">
          1
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="large-text-button" (click)="selectRotation(2)">
          2
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="large-text-button" (click)="selectRotation(3)">
          3
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="row-fill">
      <ion-col>
        <ion-button class="large-text-button" (click)="selectRotation(4)">
          4
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="large-text-button" (click)="selectRotation(5)">
          5
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="large-text-button" (click)="selectRotation(6)">
          6
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngIf="currentState == State.RECEIVE_PLAYER">
    <ion-list lines="none" *ngFor="let player of players">
      <ion-item-sliding>
        <ion-item (click)="selectPlayer(player)">
          <ion-button color="tertiary" full class="ion-justify-content-start large-text-button">
            <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <ion-label class="ion-text-start">{{ player.name }}</ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-label class="ion-text-end">#{{ player.jerseyNumber }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-button>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="substitutePlayer(player)">Substitute</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ion-grid *ngIf="currentState == State.RECEIVE_RATING">
    <ion-row class="row-fill">
      <ion-col>
        <ion-button class="large-text-button" color="secondary" (click)="selectPassRating(0)">
          0
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="large-text-button" color="secondary" (click)="selectPassRating(1)">
          1
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="row-fill">
      <ion-col>
        <ion-button class="large-text-button" color="secondary" (click)="selectPassRating(2)">
          2
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="large-text-button" color="secondary" (click)="selectPassRating(3)">
          3
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngIf="currentState == State.ATTACK">
    <ion-grid>
      <ion-row class="row-list">
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button class="large-text-button" color="success" (click)="selectAttackOutcome(AttackOutcome.KILL)">
            Kill
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
      <ion-row class="row-list">
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button class="large-text-button" color="danger" (click)="selectAttackOutcome(AttackOutcome.ERROR)">
            Error
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
      <ion-row class="row-list">
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button class="large-text-button" color="warning" (click)="selectAttackOutcome(AttackOutcome.ATTEMPT)">
            Attempt
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

</ion-content>